<form>
<div class="form-group">
  <div>
    <label>Search:</label>
<input class="form-control" type="text" placeholder="Search For your Favorate character" [(ngModel)]="SearchText"/>
<h3>List of the Game of Throne Characters</h3>
</div>
<table class="table table-striped" >
  <thead></thead>
  <tr>
    <th>Frist Name</th>
    <th>Last Name</th>
    </tr>
  
  <tbody>
      <tr *ngFor="let person of persons | filter:SearchText">
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          </tr>
  </tbody>
  </table>
  </div>
</form>